@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-Bold.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-ExtraBold.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-BoldItalic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-ExtraBoldItalic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-Italic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-Light.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-LightItalic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-Medium.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-MediumItalic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-Regular.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-SemiBold.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-Bold.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-BoldItalic.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-ExtraBold.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans Condensed";
    src: url("opensans/OpenSansCondensed-SemiBoldItalic.woff2") format("woff2"),
        url("opensans/OpenSansCondensed-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-ExtraBoldItalic.woff2")
            format("woff2"),
        url("opensans/OpenSansSemiCondensed-ExtraBoldItalic.woff")
            format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-Medium.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-Light.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-Italic.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-MediumItalic.woff2")
            format("woff2"),
        url("opensans/OpenSansSemiCondensed-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-LightItalic.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-Regular.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-SemiBoldItalic.woff2")
            format("woff2"),
        url("opensans/OpenSansSemiCondensed-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-ExtraBold.woff2") format("woff2"),
        url("opensans/OpenSans-ExtraBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans SemiCondensed";
    src: url("opensans/OpenSansSemiCondensed-SemiBold.woff2") format("woff2"),
        url("opensans/OpenSansSemiCondensed-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Bold.woff2") format("woff2"),
        url("opensans/OpenSans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-BoldItalic.woff2") format("woff2"),
        url("opensans/OpenSans-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-ExtraBoldItalic.woff2") format("woff2"),
        url("opensans/OpenSans-ExtraBoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Italic.woff2") format("woff2"),
        url("opensans/OpenSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Light.woff2") format("woff2"),
        url("opensans/OpenSans-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Italic.woff2") format("woff2"),
        url("opensans/OpenSans-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Regular.woff2") format("woff2"),
        url("opensans/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-MediumItalic.woff2") format("woff2"),
        url("opensans/OpenSans-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Medium.woff2") format("woff2"),
        url("opensans/OpenSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-LightItalic.woff2") format("woff2"),
        url("opensans/OpenSans-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-Regular.woff2") format("woff2"),
        url("opensans/OpenSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-SemiBold.woff2") format("woff2"),
        url("opensans/OpenSans-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("opensans/OpenSans-SemiBoldItalic.woff2") format("woff2"),
        url("opensans/OpenSans-SemiBoldItalic.woff") format("woff");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
