* {
    box-sizing: border-box;
}

:root {
    --heading-color: #212832;
    --description-color: #696d76;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

button,
input,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    width: calc(100% - 48px);
}

.btn {
    padding: 21px 12px;
    min-width: 113px;
    border-radius: 8px;
    background: #212832;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: var(--description-color);
    font-size: 1.8rem;
    line-height: 1.67;
}

/* --------------------- Header + Navigation ------------------ */

.header {
    position: sticky;
    top: -37px;
    z-index: 999;
    padding: 42px 0 5px;
    background: #fff;
}

.header__cta,
.header__navbar,
.header__navigation,
.header__inner {
    display: flex;
    align-items: center;
}

.header__navbar {
    margin-left: 46px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.header__link {
    padding: 12px 24px;
    color: var(--description-color);
    font-size: 16px;
    line-height: 1.75;
}

.header__link:hover,
.header__link--active {
    position: relative;
    color: var(--heading-color);
    text-shadow: 1px 0 0 var(--heading-color);
}

.header__link--active:after {
    content: "";
    position: absolute;
    left: 24px;
    top: 38px;
    width: calc(100% - 48px);
    height: 1px;
    border-radius: 1px;
    background: #7264d6;
}

.header__login {
    margin-right: 4px;
    padding: 12px 24px;
    color: var(--heading-color);
    font-weight: 600;
    line-height: 1.75;
}

.header__signup {
    padding: 18px 12px;
    border-radius: 6px;
}

/* --------------------- Hero ------------------ */
.hero {
    height: calc(100vh - 99px);
}

.hero__container {
    height: 100%;
    display: flex;
}

.hero__inner {
    margin: auto 0;
    display: flex;
    column-gap: 168px;
    width: 100%;
}
/* Hero text */
.hero__text {
    margin: auto 0;
}

.download__sub-heading,
.blog__sub-heading,
.feedback__subheading,
.feature__sub-heading,
.works__sub-heading,
.hero__sub-heading {
    display: flex;
    align-items: center;
    column-gap: 12px;
    color: var(--description-color);
    line-height: 1.75;
}

.download__sub-heading::before,
.blog__sub-heading::before,
.feedback__subheading::before,
.feature__sub-heading::before,
.works__sub-heading::before,
.hero__sub-heading::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 2px;
    background: #696d77;
}

.hero__heading {
    max-width: 500px;
    color: var(--heading-color);
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
}

.hero__heading b {
    color: #7264d6;
}

.hero__desc {
    margin-top: 20px;
    max-width: 540px;
}

.hero__form {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__form input {
    padding: 0 23px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;
}

.hero__form input,
.hero__form input::placeholder {
    color: var(--description-color);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75;
}

.hero__submit {
    padding: 15px 12px;
    min-width: 149px;
    background: #7264d6;
    line-height: 1.75;
}

.hero__noti {
    margin-top: 20px;
    color: var(--description-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

/* Hero Media */
/* Mobile Banking */
.hero__media {
    width: 40.17%;
    position: relative;
}

.mobile-banking {
    width: 296px;
    position: relative;
}

/* Mobile banking Camera Selfie */
.mobile-banking__decor {
    position: absolute;
    left: 50%;
    translate: -50% 0;
}

.mobile-banking__inner {
    padding: 40px 11px 30px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
}

/* Mobile banking Card */
.banking-card {
    font-size: 1rem;
}

.banking-card__body {
    position: relative;
    padding: 1.6em;
    width: 250px;
    height: 15em;
    border-radius: 2em;
    background: linear-gradient(76deg, #857ae4 11.52%, #7263d6 70.78%);
    overflow: hidden;
}

/* Banking Decor */
.banking-card__decor {
    position: absolute;
}

.banking-card__decor--top {
    top: 0;
    left: 0;
}

.banking-card__decor--circle {
    top: 1.6em;
    right: 1.6em;
}

.banking-card__decor--bottom {
    top: 5.4em;
    right: -0.5em;
}

.banking-card__name {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 1.4em;
    font-weight: 400;
    line-height: normal;
}

.banking-card__money {
    position: relative;
    z-index: 1;
    margin-top: 0.2em;
    color: #fff;
    font-size: 2.2em;
    font-weight: 700;
    line-height: normal;
}

.banking-card__column {
    position: relative;
    z-index: 1;
    margin-top: 3.2em;
    display: flex;
    column-gap: 1.2em;
}

.banking-card__desc {
    color: #fff;
    font-size: 1em;
    line-height: normal;
}

.banking-card__value {
    margin-top: 0.5em;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    line-height: normal;
}

.mobile-banking__transections {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-banking__transections-name {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

/* Banking Row */
.mobile-banking__row {
    margin-top: 28px;
    display: flex;
}

.mobile-banking__row-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 9px;
}

.mobile-banking__row-icon {
    background: #edf8fd;
}

.mobile-banking__row-pink {
    background: #fbefef;
}

.mobile-banking__row-green {
    background: #ecf5f4;
}

.mobile-banking__row-violet {
    background: #f1effb;
}

.mobile-banking__row-name {
    margin-left: 14px;
}

.mobile-banking__row-money,
.mobile-banking__row-type {
    color: var(--heading-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.mobile-banking__row-date,
.mobile-banking__row-desc {
    margin-top: 6px;
    color: var(--description-color);
    font-size: 1rem;
    line-height: 1;
}

.mobile-banking__row-value {
    margin-left: auto;
    text-align: right;
}
/* Hero Deposite */
.hero__deposite {
    position: absolute;
    top: 113px;
    left: -100px;
    padding: 14px 10px;
    display: flex;
    align-items: center;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.hero__deposite-name {
    margin-left: 8px;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__deposite-dolar {
    margin-left: auto;
    color: #4ab5e3;
    font-size: 1.4rem;
    line-height: 1;
}

/*  Hero Interset */
.hero__interset {
    position: absolute;
    top: 127px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #da6464;
}

.hero__interset-value {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__interset-name {
    color: #fff;
    font-size: 1.6rem;
}

/* Hero Secur */
.hero__secur {
    position: absolute;
    bottom: 64px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 68px;
    background: #439f90;
    border-radius: 10px;
}

.hero__secur-column {
    margin-left: 11px;
}

.hero__secur-dolar {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__secur-name {
    margin-top: 5px;
    color: #fff;
    font-size: 0.8rem;
    line-height: 1;
}

/* --------------------- Works ------------------ */
.works {
    padding: 160px 0 0;
    background: #fff;
}

.works__inner {
    display: flex;
    align-items: center;
    column-gap: 230px;
}

/* Works Media */
.works__media {
    position: relative;
    display: flex;
    justify-content: center;
    width: 40.17%;
}

.works__media::after {
    content: "";
    flex-shrink: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background-image: url(../img/works-media-background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 88%;
}

.works__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 97%;
    object-fit: cover;
}

/* Works Content */
.works__content {
    width: 40.17%;
}

.works__heading {
    margin-top: 12px;
    padding-bottom: 40px;
}

.works__group {
    margin-top: 30px;
}

.works__group-heading {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.works__group-desc {
    margin-top: 16px;
    color: var(--description-color);
    line-height: 1.75;
}

/* --------------------- Feature ------------------ */
.feature {
    padding: 160px 0 0;
}

.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 160px 0;
}

/* feature info */
.feature__heading {
    margin-top: 12px;
    max-width: 470px;
}

.feature__desc {
    margin-top: 20px;
    max-width: 470px;
}

.feature__list {
    margin-top: 28px;
}

.feature__item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-top: 18px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__item::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__btn {
    margin-top: 38px;
    display: inline-block;
    min-width: 149px;
}

/* Feature Media */
.feature__media-top {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.banking-card__feature {
    margin-right: 88px;
    font-size: 1.93rem;
}

.banking-card__body-feature {
    width: 482px;
    height: 322px;
}

.banking-card__decor--bot {
    top: 7.4em;
}

/* Feature Send Money */
.feature__sendmoney {
    position: absolute;
    top: -48px;
    right: 0;
    padding: 0 13px;
    display: flex;
    align-items: center;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}

.feature__sendmoney-name {
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.feature__sendmoney-date,
.feature__sendmoney-desc {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.feature__sendmoney-money {
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

/* Feature income */
.feature__income {
    position: absolute;
    bottom: -55px;
    right: 0;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.feature__income-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background: #fff;
}

.feature__income-name {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    line-height: normal;
}

.feature__income-value {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

/* Feature 2 */
.feature__media-bottom {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 470px;
    border-radius: 7px;
}

.feature__media-bgr {
    position: relative;
    width: 100%;
    border-radius: 7px;
    overflow: hidden;
}

.feature__media-bgr::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -40px;
    display: inline-block;
    width: 100%;
    height: 432px;
    background: #92c2c2;
    border-radius: inherit;
    transform: skew(0deg, -8deg);
}

.feature__media-img {
    position: relative;
    z-index: 1;
    width: 87.9%;
    height: 100%;
    object-fit: cover;
}

.feature__decor {
    position: absolute;
    top: 288px;
    right: -100px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__box {
    position: absolute;
    right: -74px;
    bottom: 57px;
    z-index: 2;
    padding: 28px;
    width: 281px;
    height: 220px;
    background: #fff;
    border-radius: 9px;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}

.faeture__box-name {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__box-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px 18px;
}

.feature__box-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 48px;
    border-radius: 4px;
    background: #f2f2fa;
}

.feature__box-item:last-child {
    background: #f9ea63;
}

/* Feature Info 2 */
.feature__infor-bottom {
    margin-left: auto;
}

/* --------------------- Feedback ------------------ */
.feedback {
    padding: 160px 0 0;
}

/* Feedback Top */
.feedback__subheading {
    justify-content: center;
}

.feedback__heading {
    margin-top: 12px;
    text-align: center;
}

.feedback__desc {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    max-width: 435px;
    text-align: center;
    font-size: 1.6rem;
}

/* Feedback Body */
.feedback__body {
    margin-top: 70px;
    display: flex;
    overflow: hidden;
}

.feedback__list {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    column-gap: 30px;
}

.feedback__item {
    width: 50%;
}

.feedback__talk {
    position: relative;
    padding: 42px 28px;
    max-width: 570px;
    height: 314px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #dfe2e8;
}

.feedback__talk::after {
    content: "";
    position: absolute;
    top: 270px;
    left: 50%;
    z-index: 1;
    translate: -50% 0;
    display: block;
    width: 84.85px;
    height: 84.85px;
    background: #fff;
    border-bottom: 1px solid #dfe2e8;
    border-left: 1px solid #dfe2e8;
    rotate: -45deg;
}

.feedback__talk:hover::after,
.feedback__talk:hover {
    border-color: transparent;
    cursor: pointer;
}

.feedback__talk:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
}

.feedback__talk:hover .feedback__talk-paragraph {
    scale: 1.1;
}

.feedback__talk-paragraph {
    position: relative;
    z-index: 2;
    color: var(--description-color);
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    line-height: 1.55;
    transition: scale 0.3s ease;
}

.feedback__avt {
    margin: 96px auto 0;
    width: 104px;
    height: 104px;
    border-radius: 52px;
    background: #4ab5e4;
}

.feedback__avt--color {
    background: #449f91;
}

.feedback__img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.feedback__name {
    margin-top: 20px;
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.feecback__job {
    margin-top: 2px;
    color: var(--description-color);
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.67;
}

/* Feedback Dots */
.feedback__dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 12px;
}

.feedback__dot {
    width: 22px;
    height: 6px;
    border-radius: 1px;
    border: 1px solid #9b9fab;
}

.feedback__dot:hover,
.feedback__dot--active {
    border-color: transparent;
    background: #7264d6;
    cursor: pointer;
}

/* --------------------- Blog ------------------ */
.blog {
    padding: 160px 0 0;
    background: #fff;
}

/* Blog Top */
.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__heading {
    margin-top: 6px;
}

.blog__desc {
    margin-top: 18px;
    max-width: 435px;
    color: var(--description-color);
    line-height: 1.75;
}

.blog__btn {
    min-width: 123px;
}

/* Blog Body  */
.blog__body {
    margin-top: 70px;
    display: flex;
    overflow: hidden;
}

.blog__list {
    flex-shrink: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
}

.blog__item {
    padding: 28px;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #dfe2e8;
    background: #fff;
}

.blog__item:hover {
    border-color: transparent;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}

.blog__img {
    max-width: 160px;
    height: 160px;
    border-radius: 12px;
}

.blog__content {
    margin-left: 22px;
}

.blog__date {
    color: var(--description-color);
    font-size: 1.4rem;
    line-height: 1.71;
}

.blog__title {
    margin-top: 10px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.blog__link {
    display: block;
    margin-top: 22px;
    color: var(--description-color);
    line-height: 1.63;
}

.blog__link:hover {
    color: #7264d6;
}

/* --------------------- Blog ------------------ */
.download {
    margin-top: 160px;
}

.download__container {
    position: relative;
    padding: 100px 0;
    border-radius: 24px;
    background: #7264d6;
}

.download__sub-heading {
    color: #fff;
    justify-content: center;
}

.download__sub-heading::before {
    background: #fff;
}

.download__heading {
    margin-top: 12px;
    color: #fff;
    text-align: center;
}

.download__desc {
    margin: 18px auto 0;
    max-width: 435px;
    color: #fff;
    text-align: center;
    line-height: 1.75;
}

.download__cta {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

.download__btn {
    padding: 17px 12px;
    min-width: 182px;
    background: #fff;
}

/* Download decor */
.download__decor {
    position: absolute;
    animation-name: spin;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: 180deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes spin-back {
    0% {
        rotate: 0deg;
    }
    50% {
        rotate: -180deg;
    }
    100% {
        rotate: 0deg;
    }
}

@keyframes rolling {
    0% {
        rotate: 0deg;
        translate: -166px 0;
    }

    50% {
        rotate: 180deg;
        translate: -80px 0;
    }

    100% {
        rotate: 360deg;
        translate: 0 0;
    }
}

@keyframes rolling-back {
    0% {
        rotate: 0deg;
        translate: 166px 0;
    }

    50% {
        rotate: -180deg;
        translate: 80px 0;
    }

    100% {
        rotate: -360deg;
        translate: 0 0;
    }
}

.download__decor--topleft {
    top: 49px;
    left: 112px;
}

.download__decor--topright {
    top: 49px;
    right: 112px;
}

.download__decor--bottomleft {
    bottom: 49px;
    left: 166px;
    animation: rolling 2s linear infinite alternate;
}

.download__decor--bottomright {
    bottom: 49px;
    right: 166px;
    animation: rolling-back 2s linear infinite alternate;
}

/* --------------------- Footer ------------------ */
.footer {
    position: relative;
    margin: 100px 0 0;
    padding: 100px 0 28px;
    background: #fafbff;
}

.footer::before,
.footer::after {
    content: "";
    position: absolute;
}

.footer::before {
    top: 100%;
    width: 100%;
    height: 84px;
    background: #7264d6;
}

.footer::after {
    content: attr(copyright);
    left: 50%;
    top: 100%;
    translate: -50% 28px;
    color: #fff;
    line-height: 1.75;
}

.footer__inner {
    display: flex;
}

.footer__mailto {
    display: block;
    margin-top: 298px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
}

.footer__title {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__list {
    margin-top: 24px;
}

.footer__link {
    padding: 10px 0;
    display: inline-block;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1;
}

.footer__telto {
    display: inline-block;
    margin: 80px 0 0 -16px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67;
    text-decoration-line: underline;
}

.footer__desc {
    margin-top: 24px;
    max-width: 371px;
    color: #6a6e78;
    font-size: 1.8rem;
    line-height: 1.67;
}

.footer__form {
    margin-top: 48px;
}

.footer__form label {
    margin-bottom: 24px;
    display: block;
    color: #0a142f;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__group {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.footer__form input {
    padding: 0 12px;
    width: 270px;
    height: 52px;
    border-radius: 6px;
    border: 1px solid #8e919a;
    outline: none;
}

.footer__form input,
.footer__form input::placeholder {
    color: #8e919a;
    font-size: 1.6rem;
    line-height: 1.75;
}

.footer__submit {
    padding: 12px 12px;
    border-radius: 6px;
    background: #7264d6;
    line-height: 1.75;
}

.footer__column:nth-child(2) {
    margin-left: 9.91%;
}

.footer__column:nth-child(3) {
    margin-left: 12.3%;
}

.footer__column:last-child {
    margin-left: auto;
}
